<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Các dòng xe
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">BMW</a>
            <a class="dropdown-item" href="#">SUV</a>
            <a class="dropdown-item" href="#">Mercedes</a>
            <a class="dropdown-item" href="#">Audi</a>
            <a class="dropdown-item" href="#">Huyndai</a>
            <a class="dropdown-item" href="#">Lexus</a>
            <a class="dropdown-item" href="#">Honda</a>
            <a class="dropdown-item" href="#">Vin Fast</a>
            <a class="dropdown-item" href="#">Cadillac</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Một số dòng xe khác tại đây</a>
          </div>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Danh sách sản phẩm
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Bộ phận cơ thể ô tô và gương</a>
            <a class="dropdown-item" href="#">Đèn pha & đèn chiếu sáng</a>
            <a class="dropdown-item" href="#">Động cơ & Hệ thống truyền động</a>
            <a class="dropdown-item" href="#">Phanh, Hệ thống treo </a>
            <a class="dropdown-item" href="#">Nội Địa</a>
            <a class="dropdown-item" href="#">Nội Thất</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Những sản phẩm bán chạy nhất</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Những sản phẩm được ưa thích nhất</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="Tìm kiếm" placeholder="Tìm kiếm" aria-label="Tìm kiếm">
        <button class="btn btn-outline-success my-2 my-sm-0"  type="submit" style="color: red;" href="#">Tìm kiếm</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="login" href="login" style="color: red;">Đăng nhập</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="register" href="#" style="color: red;">Đăng ký</button>

      </form>
    </div>
  </nav>
